<main class="wrapper">
  <div class="main">
    <h5>Details Page</h5>
    <div>
      <a  href="https://www.google.com/maps/place/47%C2%B041'09.2%22N+122%C2%B021'47.9%22W/@47.6825258,-122.4036793,13z/data=!4m6!3m5!1s0x54901425dc5312fd:0x3dab52792d4054a0!7e2!8m2!3d47.6859036!4d-122.3633087" target="_blank"><img src="{{$ctrl.pic7.url}}" height="auto" width="100%"></a> <!-- {{$ctrl.pic7.url}} ../images/map7.png  https://goo.gl/maps/psvoAzVKFn92 output=embed-->
    </div>
    <br>
    <div>{{$ctrl.text4.text}}</div>
    <br>
    <div>{{$ctrl.text2.text}}</div>
    <br>
    <div>{{$ctrl.text3.text}}</div>
    <br>
    <div>
      <img src="{{$ctrl.pic1.url}}" height="auto" width="100%">
    </div>
    <br>
    <div>
      <img src="{{$ctrl.pic2.url}}" height="auto" width="100%">
    </div>
    <br>
    <div>
      <img src="{{$ctrl.pic3.url}}" height="auto" width="100%">
    </div>
    <br>
    <div>
      <img src="{{$ctrl.pic4.url}}" height="auto" width="100%">
    </div>
    <br>
    <div>
      <img src="{{$ctrl.pic5.url}}" height="auto" width="100%">
    </div>
    <br>
    <div>
      <img src="{{$ctrl.pic6.url}}" height="auto" width="100%">
    </div>
  </div>
</main>
