<main class="wrapper">
  <div class="main">
    <h5>Details Page</h5>
    <div>
      <img src="{{$ctrl.pic7.url}}" height="auto" width="100%"> <!-- {{$ctrl.pic7.url}} ../images/map7.png -->
    </div>
    <br>
    <div>{{$ctrl.text4.text}}</div>
    <br>
    <div>{{$ctrl.text2.text}}</div>
    <br>
    <div>{{$ctrl.text3.text}}</div>
    <br>
    <div>
      <img src="{{$ctrl.pic1.url}}" height="auto" width="100%">
    </div>
    <br>
    <div>
      <img src="{{$ctrl.pic2.url}}" height="auto" width="100%">
    </div>
    <br>
    <div>
      <img src="{{$ctrl.pic3.url}}" height="auto" width="100%">
    </div>
    <br>
    <div>
      <img src="{{$ctrl.pic4.url}}" height="auto" width="100%">
    </div>
    <br>
    <div>
      <img src="{{$ctrl.pic5.url}}" height="auto" width="100%">
    </div>
    <br>
    <div>
      <img src="{{$ctrl.pic6.url}}" height="auto" width="100%">
    </div>
  </div>
</main>
