<main class="wrapper">
  <div class="main">
    <h1>Home Page</h1>
    <p>Welcome to the Astro-Photography
      Mosaic Project Manager
      (ASTRO MPM)</p>
    <p>What: This website is dedicated to help astrophotographers to collaborate on making a deep sky mosaic of large objects in the night sky.</p>
    <p>Why: Deep sky objects are mostly seasonal and and in a worst case scenario may only be in an ideal position to image for just a few months. Considering almost all best Images are only imaged during a new moon this can mean that over the course of a year only two long weekends may be availible to aquire data. In the case of mosaics especially large mosaics these projects can turn into a multi year project. By combining several astronomers with similar equiptment and dispersing the individual cells of a mosaic amongst them that can signifantly reduce the project length making it even possible to acquire all data needed in just a weekend. As an added benifit  the collaborative team will also be able to share tips and techniques to improve those with less experience in the team.</p>
    <p>Who: This is intended for astronomers from around the world that have similar equipment  and are located at similar latitudes. In the event that users do not have equiptment several remote telescope rentals are available and by spreading the cost over several users as a group can significantly reduce the cost of the project per user.</p>
    <p></p>
  </div>
</main>
