<div layout="column" layout-fill="" class="layout-fill layout-column">

  <header>

    <!-- Navbar -->
    <div layout="column" class="layout-column">
      <img src="images/tbhLogo.png" width="100%">
    </div>

    <md-toolbar layout="row" layout-align="end center" class="_md layout-row _md-toolbar-transitions">
      <span flex="" class="flex"> </span>
      <button class="md-button md-ink-ripple" type="button"> {{$ctrl.auth.user.hello_first_name}} Admin</button>
      <!-- <button class="md-button md-ink-ripple" type="button" ui-sref="detailsTest"> Details </button> -->
      <!-- <button class="md-button md-ink-ripple" type="button" ui-sref="projects"> Projects </button> -->
      <!-- <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.showAdvanced($event)"> Login </button>
      <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.signupForm()"> Signup </button> -->
      <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.logout()"> Logout </button>
    </md-toolbar>

  </header>

  <main class="wrapper" >
    <div ui-view="" class="main"></div>
  </main>

  <footer>
    <div layout="column" flex="" class="layout-column flex">
      <div class="bottomFooter layout-row" layout="row fivePadding">
        <div> .</div>
        <div class="fivePadding">Copyright 2017 Jeff and Galvanize G56</div>
      </div>
    </div>
  </footer>
</div>
